/.idea/
.idea/*
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
bin/.phpunit/
config/packages/dev/jms_serializer.yaml
config/packages/fos_rest.yaml
config/packages/jms_serializer.yaml
config/packages/prod/jms_serializer.yaml
config/routes/dev/
config/routes/nelmio_api_doc.yaml
